nav{
    img{
        width: 200px;
        height: 50px;
        flex: initial;
        border: none;
    }
}

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 20px;
    background: green;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color: green;
    background: white;
}
.btn-face{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 20px;
    background: blue;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
    z-index: 100;
}
.btn-face:hover{
    text-decoration: none;
    color: blue;
    background: white;
}
.btn-imsta{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 170px;
    right: 20px;
    background: linear-gradient(to bottom, rgb(205, 21, 171), rgb(203, 183, 27), rgb(203,45,65));
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.9);
    z-index: 100;
}
.btn-imsta:hover{
    text-decoration: none;
    color: black;
    background: linear-gradient(to bottom, rgb(205, 125, 21), rgb(185, 119, 22), rgb(187, 24, 146));
}
.nosotros{
    img{
        width: 100%;
    }
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .mySwiper{
    .body1{
        position: fixed;
        bottom: 0px;
        top: 5px;
        background-color: transparent;
        
      }
      .card-title{
        background: rgba(133, 177, 202, 0.459);
        border-radius: 8px;
        position: fixed;        
        top: 3px;
        left: 3rem;
      }
      .btn-producto{
        position: fixed;
        border-radius: 5px;
        background-color: rgb(205, 125, 21);
        bottom: 5px;
        top: 220px;
        left: 5rem;
      }

      .btn-producto:hover{
        background-color: rgb(216, 198, 37);
      }

  }
  .mapa{
    iframe{
        width:50rem; 
        height:500px; 
        border:0;
        border: solid;
        border-radius: 10px;
         
    }
    @media (max-width: 600px) {
        iframe{
            width:23rem; 
            height:350px; 
            border:0;
            border: solid;
            border-radius: 10px;
             
        }
      }
  }
  

  .formulary{
    
    
    .formulario{
        background: rgba(56, 112, 214, 0.966);
        border: solid;
        border-color: rgb(16, 102, 152);
        border-radius: 25px;
    }
    input{
        border: solid;
        border-radius: 30px;
        width: 15rem;
    }
    textarea{
        width: 20rem;
        border-radius: 10px;
    }
    textarea, input {
        text-transform: uppercase;
        font-size: small;
        background-color: black;
        color: white;
    }
    #boton{
        background-color: rgb(185, 119, 22);
        color: black;
        border: none;
    }

    #boton:hover{
        background-color: rgb(16, 40, 101);
        color: white;
    }
  }
  
  footer{
    background: black;
    color: white;
  }